#app {
  display:flex;
  max-width: 100rem;
  margin: 5rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  flex:1;
  background-color: #fc6600;
}